# Generated build files
.vs
UpgradeLog.htm
/**/Debug/
/**/Release/
/**/*.idb
/**/*.pdb
/libgame/**/*.lib
/libthecore/**/*.lib
/libpoly/**/*.lib
/liblua/**/*.lib
/libpoly/**/*.lib
/libserverkey/**/*.lib
/libsql/**/*.lib
/db/db_d.*
/game/game_d.*
/game/src/quest/qc.exe

# Ignore installed dependencies
vcpkg_installed

# Generated log files
/**/packet_info.txt
/**/p2p_packet_info.txt
/**/ProfileLog
/**/PTS.txt
/**/syserr.txt
/**/syslog.txt
/**/syserr
/**/syslog

# Symlinks of cores
/(auth|channel[1-4])/.*/data/?$
/(auth|channel[1-4])/.*/locale/?$